.navbar{
  
}
.btn{
  animation-name: fade-in;
  animation-duration: 2s;
  
}
.tpp{
  background-color: #fff;
  
}
.tpp button{
  width: 20px;
}
.tpp button:hover {
  
  color: rgb(29 78 216);
}
@keyframes fade-in {
  from {opacity: 0;}
to {opacity: 1;}
}  